<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="pertemuan9.My.MySettings.DatabasePenjualanConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\GitHub\Visual-Basic-Project\Visual-basic-2019\pertemuan9\DatabasePenjualan.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>